html {
    --container: 1440px;
    --padding-container: 15px;
    box-sizing: border-box;
    font-size: 16px;
    /*position: relative;
    overflow-x: hidden;*/
  }
  *, *:before, *:after {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  border: 0;
  }
  body {
    font-family: Inter, sans-serif;
    min-width: 240px;
    min-height: 100vh;
    background-color: #FFF;
    color:#000;
    overflow-x: hidden;
  }
  img, svg, video {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
  }
  button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
  }
  a:focus, a:active {
    outline: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin:0;
  }
  h1, h2, h3, h4, p, figure {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
  p+p {
    margin-top: 1em;
  }
  iframe {
    border:0;
  }
  fieldset {
    margin: 0;
    padding: 0;
    bottom: 0;
  }
  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }
  /* ---------------form--------------- */
  input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border:none;
  }
  label {
    cursor:pointer;
  }
  legend {
    display: block;
  }
  
  /*@media (max-width)*/